{% extends 'base.html.twig' %}

{% block title %}Crée annonce{% endblock %}

{% block body %}

    <div class="container margin-top-25">
        <div class="row">
            <div class="col-md-12">
                <style>
                    #breadcrumbs ul li:before{
                        border-left: 5px solid #a3a3a3 !important;
                    }
                </style>
                <nav id="breadcrumbs" style="left: 0px;right: unset;">
                    <ul>
                        <li><a href="{{ path('site_home_page') }}">Home</a></li>
                        <li>publicité</li>
                    </ul>
                </nav>

                <h2 style="float: right;">Crée une publicité</h2>
            </div>
        </div>
        <div class="row">
            {% include 'users/_partial/menu.html.twig' %}
            <!-- Submit Page -->
            <div class="col-md-6">
                <div class="submit-page">

                </div>
            </div>
            <div class="col-md-3">

                <div class="utf-listing-item" style="border: 1px solid #333;">
                    <a href=""
                       class="utf-smt-listing-img-container">
                        <div class="utf-listing-badges-item">

                        </div>
                        <div class="utf-listing-img-content-item">
                        </div>
                        <div class="utf-listing-carousel-item">
                            <div><img id="vignette-preview-img" src="http://via.placeholder.com/260x230" alt=""></div>
                        </div>
                    </a>
                    <div class="utf-listing-content">
                        <div class="utf-listing-title">
                            <span id="prev_adtextual_discount" class="utf-listing-price">
                                    14%
                            </span>
                            <h4>
                                <a id="prev_adtextual_titlead" class="oneline-text" href="">
                                    Lorem ipsum dolor sit
                                </a>
                            </h4>
                        </div>
                        <div class="utf-listing-features annoncement">
                            <p id="prev_adtextual_shortdescription" class="threelines-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis comm</p>
                        </div>
                        <div class="utf-listing-user-info text-center">
                            <a class="offer"
                               href="">
                                Voir l'offre</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}


