{% extends 'base.html.twig' %}

{% block title %}Hello SubmitAnnouncementController!{% endblock %}

{% block body %}

<div class="parallax titlebar" data-background="{{ asset('images/listings-parallax.jpg') }}" data-color="rgba(48, 48, 48, 1)"
	data-color-opacity="0.8" data-img-width="800" data-img-height="505">
	<div id="titlebar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Add New Property</h2>
					<!-- Breadcrumbs -->
					<nav id="breadcrumbs">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li>Add New Property</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		{% include 'users/_partial/menu.html.twig' %}
		
		<div class="col-md-9">
			<div class="submit-page">
				<div class="row">
					<div class="utf-pricing-container-area margin-top-5">
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="plan">

								<div class="utf-plan-features">
									<ul>
										<li>One Time Fee</li>
										<li>One Listing</li>
										<li>60 Days Availability</li>
										<li>Featured In Search Results</li>
										<li>Limited Support</li>
										<li>24/7 Support</li>
									</ul>

									<div class="utf-plan-price">
										<h3>PRENIUM</h3>
										<span class="value">$59<sub>/Par Month</sub></span> <span class="period">Business
										User Membership for 60 days</span>
									</div>

									<div class="utf-plan-features">
										{{ form_widget(form.Premium) }}
									</div>
									<a class="button border" href="add-new-property.html">Purchase Now</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="plan">
								<div class="utf-plan-price">
									<h3>GOLD</h3>
									<span class="value">$59<sub>/Par Month</sub></span> <span class="period">Business
										User Membership for 60 days</span>
								</div>
								<div class="utf-plan-features">
									<ul>
										<li>One Time Fee</li>
										<li>One Listing</li>
										<li>60 Days Availability</li>
										<li>Featured In Search Results</li>
										<li>Limited Support</li>
										<li>24/7 Support</li>
									</ul>
									<a class="button border" href="add-new-property.html">Purchase Now</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="plan featured">
								<div class="utf-listing-badges-item"> <span class="featured">Featured</span> </div>
								<div class="utf-plan-price">
									<h3>SILVER</h3>
									<span class="value">$89<sub>/Par Month</sub></span> <span class="period">Premium
										User Membership for 180 days</span>
								</div>
								<div class="utf-plan-features">
									<ul>
										<li>One Time Fee</li>
										<li>One Listing</li>
										<li>180 Days Availability</li>
										<li>Featured In Search Results</li>
										<li>Limited Support</li>
										<li>24/7 Support</li>
									</ul>
									<a class="button border" href="add-new-property.html">Purchase Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<a href="add-new-property.html" class="utf-centered-button button">Submit Property</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
{% endblock %}
