{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

{% include 'site/home_page/_partials/banner.html.twig' %}
{% include 'site/home_page/_partials/header_adversing.html.twig' %}
{% include 'site/home_page/_partials/tabs-nav.html.twig' %}


<!-- Counters Container -->
<div class="parallax" data-background="images/home-parallax-1.jpg" data-color="#252529" data-color-opacity="0.85"
  data-img-width="800" data-img-height="505">
  <div id="counters">
    <div class="container">
      <div class="row margin-bottom-30">
        <div class="col-md-4">
          <h4 class="headline_part margin-top-0 margin-bottom-15">First Column</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.</p>
        </div>
        <div class="col-md-4">
          <h4 class="headline_part margin-top-0 margin-bottom-15">Second Column</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.</p>
        </div>
        <div class="col-md-4">
          <h4 class="headline_part margin-top-0 margin-bottom-15">Third Column</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.</p>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Counters Container / End -->


{% include 'site/home_page/_partials/bottom_adversing.html.twig' %}
{% include 'site/home_page/_partials/new_annoucement.html.twig' %}

{% endblock %}
