{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

{% include 'site/home_page/_partials/banner.html.twig' %} 

{% include 'site/home_page/_partials/header_adversing.html.twig' %} 


  <section class="fullwidth" data-background-color="#ffffff">
    <div class="container">
      <div class="row">


        <div class="col-md-12">	
          <div class="utf-section-headline-item centered margin-bottom-30 margin-top-0">
            <div class="utf-headline-display-inner-item">{% trans %}Offre prenium{% endtrans %}</div>
            <p class="utf-slogan-text"></p>
          </div>  
        </div>
        <div class="col-md-12">	
          <!-- Tabs Navigation -->
          <ul class="tabs-nav">
            <li class="active"><a href="#tab1a"><i class="sl sl-icon-present"></i> Tabs One</a></li>
            <li><a href="#tab2a"><i class="sl sl-icon-trophy"></i> Tabs Two</a></li>
            <li><a href="#tab3a"><i class="sl sl-icon-notebook"></i> Tabs Three</a></li>
			      <li><a href="#tab4a"><i class="sl sl-icon-graduation"></i> Tabs Four</a></li>
          </ul>
          <!-- Tabs Content -->
          <div class="tabs-container">
            <div class="tab-content" id="tab1a">

              <div class="carousel"> 
                <div class="utf-carousel-item-area">
                  <div class="utf-listing-item"> 
                    <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
                    <div class="utf-listing-badges-item"> 
                      <span class="featured">Featured</span> 
                      <span class="for-sale">For Sale</span> 
                    </div>				  
                    <div class="utf-listing-img-content-item"> 					
                      <img class="utf-user-picture" src="images/user_1.jpg" alt="user_1" />
                      <span class="like-icon with-tip" data-tip-content="Bookmark"></span> 
                      <span class="compare-button with-tip" data-tip-content="Add to Compare"></span> 
                      <span class="video-button with-tip" data-tip-content="Video"></span>
                    </div>
                    <div class="utf-listing-carousel-item">
                      <div><img src="images/listing-01.jpg" alt=""></div>
                      <div><img src="images/listing-01.jpg" alt=""></div>
                      <div><img src="images/listing-01.jpg" alt=""></div>
                    </div>
                    </a>
                    <div class="utf-listing-content">				
                      <div class="utf-listing-title">
                        <span class="utf-listing-price">$18,000/mo</span> 						  	
                        <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
                        <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 											  
                      </div>				
                      <ul class="utf-listing-features">
                        <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
                        <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
                        <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
                        <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>
                      </ul>
                      <div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
                    </div>
                  </div>
                </div>
                
                <div class="utf-carousel-item-area">
                  <div class="utf-listing-item"> <a href="single-property-page-2.html" class="utf-smt-listing-img-container">
                    <div class="utf-listing-badges-item"> 
                      <span class="for-rent">For Rent</span> 
                    </div>
                    <div class="utf-listing-img-content-item"> 
                      <img class="utf-user-picture" src="images/user_1.jpg" alt="user_1" />
                      <span class="like-icon with-tip" data-tip-content="Bookmark"></span> 
                      <span class="compare-button with-tip" data-tip-content="Add to Compare"></span> 
                      <span class="video-button with-tip" data-tip-content="Video"></span>
                    </div>
                    <img src="images/listing-02.jpg" alt=""> </a>
                    <div class="utf-listing-content">
                      <div class="utf-listing-title">
                        <span class="utf-listing-price">$15,000/mo</span>	
                        <h4><a href="single-property-page-2.html">Renovated Luxury Apartment</a></h4>
                        <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
                      </div>				
                      <ul class="utf-listing-features">
                        <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
                        <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
                        <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
                        <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>					  					 
                      </ul>	
                      <div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
                    </div>
                  </div>
                </div>
                
                <div class="utf-carousel-item-area">
                  <div class="utf-listing-item"> <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
                    <div class="utf-listing-badges-item"> 
                      <span class="featured">Featured</span> 
                      <span class="for-rent">For Rent</span> 
                    </div>
                    <div class="utf-listing-img-content-item"> 
                      <img class="utf-user-picture" src="images/user_1.jpg" alt="user_1" />
                      <span class="like-icon with-tip" data-tip-content="Bookmark"></span> 
                      <span class="compare-button with-tip" data-tip-content="Add to Compare"></span> 
                      <span class="video-button with-tip" data-tip-content="Video"></span>
                    </div>
                    <img src="images/listing-03.jpg" alt=""> </a>
                    <div class="utf-listing-content">
                      <div class="utf-listing-title">
                        <span class="utf-listing-price">$22,000/mo</span>
                        <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
                        <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
                      </div>				
                      <ul class="utf-listing-features">
                        <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
                        <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
                        <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
                        <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>				  					 
                      </ul>				
                      <div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
                    </div>              
                  </div>
                </div>
                
                <div class="utf-carousel-item-area">
                  <div class="utf-listing-item"> <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
                    <div class="utf-listing-badges-item"> 
                      <span class="for-sale">For Sale</span> 
                    </div>
                    <div class="utf-listing-img-content-item"> 
                      <img class="utf-user-picture" src="images/user_1.jpg" alt="user_1" />
                      <span class="like-icon with-tip" data-tip-content="Bookmark"></span> 
                      <span class="compare-button with-tip" data-tip-content="Add to Compare"></span> 
                      <span class="video-button with-tip" data-tip-content="Video"></span>
                    </div>
                    <div class="utf-listing-carousel-item">
                      <div><img src="images/listing-04.jpg" alt=""></div>
                      <div><img src="images/listing-04.jpg" alt=""></div>
                    </div>
                    </a>
                    <div class="utf-listing-content">
                      <div class="utf-listing-title">
                        <span class="utf-listing-price">$25,000/mo</span>
                        <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
                        <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
                      </div>
                      <ul class="utf-listing-features">
                        <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
                        <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
                        <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
                        <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>					  					 
                      </ul> 
                      <div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
                    </div>              
                  </div>
                </div>
                
                <div class="utf-carousel-item-area">
                  <div class="utf-listing-item"> <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
                    <div class="utf-listing-badges-item"> 
                      <span class="for-sale">For Sale</span> 
                    </div>
                    <div class="utf-listing-img-content-item"> 
                      <img class="utf-user-picture" src="images/user_1.jpg" alt="user_1" />
                      <span class="like-icon with-tip" data-tip-content="Bookmark"></span> 
                      <span class="compare-button with-tip" data-tip-content="Add to Compare"></span> 
                      <span class="video-button with-tip" data-tip-content="Video"></span>
                    </div>
                    <img src="images/listing-05.jpg" alt=""> </a>
                    <div class="utf-listing-content">
                      <div class="utf-listing-title">
                        <span class="utf-listing-price">$14,000/mo</span>
                        <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
                        <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
                      </div>				
                      <ul class="utf-listing-features">
                        <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
                        <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
                        <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
                        <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>				  					 
                      </ul> 	
                      <div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
                    </div>              
                  </div>
                </div>          
              </div>


            </div>
            <div class="tab-content" id="tab2a">Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic type setting, remaining essentially unchanged It was popularise.</div>
            <div class="tab-content" id="tab3a">


              <div class="carousel"> 
                <div class="utf-carousel-item-area">
                  <div class="utf-listing-item"> 
                    <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
                    <div class="utf-listing-badges-item"> 
                      <span class="featured">Featured</span> 
                      <span class="for-sale">For Sale</span> 
                    </div>				  
                    <div class="utf-listing-img-content-item"> 					
                      <img class="utf-user-picture" src="images/user_1.jpg" alt="user_1" />
                      <span class="like-icon with-tip" data-tip-content="Bookmark"></span> 
                      <span class="compare-button with-tip" data-tip-content="Add to Compare"></span> 
                      <span class="video-button with-tip" data-tip-content="Video"></span>
                    </div>
                    <div class="utf-listing-carousel-item">
                      <div><img src="images/listing-01.jpg" alt=""></div>
                      <div><img src="images/listing-01.jpg" alt=""></div>
                      <div><img src="images/listing-01.jpg" alt=""></div>
                    </div>
                    </a>
                    <div class="utf-listing-content">				
                      <div class="utf-listing-title">
                        <span class="utf-listing-price">$18,000/mo</span> 						  	
                        <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
                        <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 											  
                      </div>				
                      <ul class="utf-listing-features">
                        <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
                        <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
                        <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
                        <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>
                      </ul>
                      <div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
                    </div>
                  </div>
                </div>
                
                <div class="utf-carousel-item-area">
                  <div class="utf-listing-item"> <a href="single-property-page-2.html" class="utf-smt-listing-img-container">
                    <div class="utf-listing-badges-item"> 
                      <span class="for-rent">For Rent</span> 
                    </div>
                    <div class="utf-listing-img-content-item"> 
                      <img class="utf-user-picture" src="images/user_1.jpg" alt="user_1" />
                      <span class="like-icon with-tip" data-tip-content="Bookmark"></span> 
                      <span class="compare-button with-tip" data-tip-content="Add to Compare"></span> 
                      <span class="video-button with-tip" data-tip-content="Video"></span>
                    </div>
                    <img src="images/listing-02.jpg" alt=""> </a>
                    <div class="utf-listing-content">
                      <div class="utf-listing-title">
                        <span class="utf-listing-price">$15,000/mo</span>	
                        <h4><a href="single-property-page-2.html">Renovated Luxury Apartment</a></h4>
                        <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
                      </div>				
                      <ul class="utf-listing-features">
                        <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
                        <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
                        <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
                        <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>					  					 
                      </ul>	
                      <div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
                    </div>
                  </div>
                </div>
                
                <div class="utf-carousel-item-area">
                  <div class="utf-listing-item"> <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
                    <div class="utf-listing-badges-item"> 
                      <span class="featured">Featured</span> 
                      <span class="for-rent">For Rent</span> 
                    </div>
                    <div class="utf-listing-img-content-item"> 
                      <img class="utf-user-picture" src="images/user_1.jpg" alt="user_1" />
                      <span class="like-icon with-tip" data-tip-content="Bookmark"></span> 
                      <span class="compare-button with-tip" data-tip-content="Add to Compare"></span> 
                      <span class="video-button with-tip" data-tip-content="Video"></span>
                    </div>
                    <img src="images/listing-03.jpg" alt=""> </a>
                    <div class="utf-listing-content">
                      <div class="utf-listing-title">
                        <span class="utf-listing-price">$22,000/mo</span>
                        <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
                        <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
                      </div>				
                      <ul class="utf-listing-features">
                        <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
                        <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
                        <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
                        <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>				  					 
                      </ul>				
                      <div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
                    </div>              
                  </div>
                </div>
                
                <div class="utf-carousel-item-area">
                  <div class="utf-listing-item"> <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
                    <div class="utf-listing-badges-item"> 
                      <span class="for-sale">For Sale</span> 
                    </div>
                    <div class="utf-listing-img-content-item"> 
                      <img class="utf-user-picture" src="images/user_1.jpg" alt="user_1" />
                      <span class="like-icon with-tip" data-tip-content="Bookmark"></span> 
                      <span class="compare-button with-tip" data-tip-content="Add to Compare"></span> 
                      <span class="video-button with-tip" data-tip-content="Video"></span>
                    </div>
                    <div class="utf-listing-carousel-item">
                      <div><img src="images/listing-04.jpg" alt=""></div>
                      <div><img src="images/listing-04.jpg" alt=""></div>
                    </div>
                    </a>
                    <div class="utf-listing-content">
                      <div class="utf-listing-title">
                        <span class="utf-listing-price">$25,000/mo</span>
                        <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
                        <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
                      </div>
                      <ul class="utf-listing-features">
                        <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
                        <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
                        <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
                        <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>					  					 
                      </ul> 
                      <div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
                    </div>              
                  </div>
                </div>
                
                <div class="utf-carousel-item-area">
                  <div class="utf-listing-item"> <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
                    <div class="utf-listing-badges-item"> 
                      <span class="for-sale">For Sale</span> 
                    </div>
                    <div class="utf-listing-img-content-item"> 
                      <img class="utf-user-picture" src="images/user_1.jpg" alt="user_1" />
                      <span class="like-icon with-tip" data-tip-content="Bookmark"></span> 
                      <span class="compare-button with-tip" data-tip-content="Add to Compare"></span> 
                      <span class="video-button with-tip" data-tip-content="Video"></span>
                    </div>
                    <img src="images/listing-05.jpg" alt=""> </a>
                    <div class="utf-listing-content">
                      <div class="utf-listing-title">
                        <span class="utf-listing-price">$14,000/mo</span>
                        <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
                        <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
                      </div>				
                      <ul class="utf-listing-features">
                        <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
                        <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
                        <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
                        <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>				  					 
                      </ul> 	
                      <div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
                    </div>              
                  </div>
                </div>          
              </div>

            </div>
			      <div class="tab-content" id="tab4a">Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic type setting, remaining essentially unchanged It was popularise.</div>
          </div>


          </div>  
        </div>


      </div>
    </div>
  </section>


  <!-- Counters Container -->
  <div class="parallax" data-background="images/listings-parallax.jpg" data-color="#252529" data-color-opacity="0.85" data-img-width="800" data-img-height="505"> 
    <div id="counters">
      <div class="container">
        <div class="row margin-bottom-30">
          <div class="col-md-4"> 
          <h4 class="headline_part margin-top-0 margin-bottom-15">First Column</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
          <div class="col-md-4"> 
          <h4 class="headline_part margin-top-0 margin-bottom-15">Second Column</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
          <div class="col-md-4"> 
          <h4 class="headline_part margin-top-0 margin-bottom-15">Third Column</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  <!-- Counters Container / End -->


<section class="fullwidth" data-background-color="#ffffff">
	<div class="container">
		<div class="row">
		  <div class="col-md-3 col-sm-6"> 
			<a href="listings-list-with-sidebar.html" class="img-box"> 
				<img src="images/popular-location-01.jpg" alt="" />
				<div class="utf-cat-img-box-content visible">
				  <h4>Afghanistan</h4>
				  <span>14 Properties</span> 
				</div>
			</a> 
		  </div>
		  <div class="col-md-3 col-sm-6"> 
			<a href="listings-list-with-sidebar.html" class="img-box">
				<img src="images/popular-location-02.jpg" alt="" />
				<div class="utf-cat-img-box-content visible">
				  <h4>Australia</h4>
				  <span>24 Properties</span>
				</div>
			</a> 
		  </div>

      <div class="col-md-3 col-sm-6"> 
        <a href="listings-list-with-sidebar.html" class="img-box">
          <img src="images/popular-location-02.jpg" alt="" />
          <div class="utf-cat-img-box-content visible">
            <h4>Australia</h4>
            <span>24 Properties</span>
          </div>
        </a> 
        </div>

        <div class="col-md-3 col-sm-6"> 
          <a href="listings-list-with-sidebar.html" class="img-box">
            <img src="images/popular-location-02.jpg" alt="" />
            <div class="utf-cat-img-box-content visible">
              <h4>Australia</h4>
              <span>24 Properties</span>
            </div>
          </a> 
          </div>


          <div class="col-md-6 col-sm-6"> 
            <a href="listings-list-with-sidebar.html" class="img-box">
              <img src="images/popular-location-02.jpg" alt="" />
              <div class="utf-cat-img-box-content visible">
                <h4>Australia</h4>
                <span>24 Properties</span>
              </div>
            </a> 
            </div>



            <div class="col-md-6 col-sm-6"> 
              <a href="listings-list-with-sidebar.html" class="img-box">
                <img src="images/popular-location-02.jpg" alt="" />
                <div class="utf-cat-img-box-content visible">
                  <h4>Australia</h4>
                  <span>24 Properties</span>
                </div>
              </a> 
              </div>
		</div>
	 </div>
  </section>
  
  <!-- Content -->
  <section class="fullwidth" data-background-color="#ffffff">
    <div class="container">
      <div class="row">
        <div class="col-md-12">	
          <div class="utf-section-headline-item centered margin-bottom-30 margin-top-0">
            <div class="utf-headline-display-inner-item">{% trans %}NOS DERNIERES OFFRES{% endtrans %}</div>
            <p class="utf-slogan-text"></p>
          </div>  
        </div>
        <div class="col-md-12">
          <div class="carousel"> 
            <div class="utf-carousel-item-area">
              <div class="utf-listing-item"> 
                <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
                <div class="utf-listing-badges-item"> 
                  <span class="featured">Featured</span> 
                  <span class="for-sale">For Sale</span> 
                </div>				  
                <div class="utf-listing-img-content-item"> 					
                  <img class="utf-user-picture" src="images/user_1.jpg" alt="user_1" />
                  <span class="like-icon with-tip" data-tip-content="Bookmark"></span> 
                  <span class="compare-button with-tip" data-tip-content="Add to Compare"></span> 
                  <span class="video-button with-tip" data-tip-content="Video"></span>
                </div>
                <div class="utf-listing-carousel-item">
                  <div><img src="images/listing-01.jpg" alt=""></div>
                  <div><img src="images/listing-01.jpg" alt=""></div>
                  <div><img src="images/listing-01.jpg" alt=""></div>
                </div>
                </a>
                <div class="utf-listing-content">				
                  <div class="utf-listing-title">
                    <span class="utf-listing-price">$18,000/mo</span> 						  	
                    <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
                    <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 											  
                  </div>				
                  <ul class="utf-listing-features">
                    <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
                    <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
                    <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
                    <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>
                  </ul>
                  <div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
                </div>
              </div>
            </div>
            
            <div class="utf-carousel-item-area">
              <div class="utf-listing-item"> <a href="single-property-page-2.html" class="utf-smt-listing-img-container">
                <div class="utf-listing-badges-item"> 
                  <span class="for-rent">For Rent</span> 
                </div>
                <div class="utf-listing-img-content-item"> 
                  <img class="utf-user-picture" src="images/user_1.jpg" alt="user_1" />
                  <span class="like-icon with-tip" data-tip-content="Bookmark"></span> 
                  <span class="compare-button with-tip" data-tip-content="Add to Compare"></span> 
                  <span class="video-button with-tip" data-tip-content="Video"></span>
                </div>
                <img src="images/listing-02.jpg" alt=""> </a>
                <div class="utf-listing-content">
                  <div class="utf-listing-title">
                    <span class="utf-listing-price">$15,000/mo</span>	
                    <h4><a href="single-property-page-2.html">Renovated Luxury Apartment</a></h4>
                    <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
                  </div>				
                  <ul class="utf-listing-features">
                    <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
                    <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
                    <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
                    <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>					  					 
                  </ul>	
                  <div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
                </div>
              </div>
            </div>
            
            <div class="utf-carousel-item-area">
              <div class="utf-listing-item"> <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
                <div class="utf-listing-badges-item"> 
                  <span class="featured">Featured</span> 
                  <span class="for-rent">For Rent</span> 
                </div>
                <div class="utf-listing-img-content-item"> 
                  <img class="utf-user-picture" src="images/user_1.jpg" alt="user_1" />
                  <span class="like-icon with-tip" data-tip-content="Bookmark"></span> 
                  <span class="compare-button with-tip" data-tip-content="Add to Compare"></span> 
                  <span class="video-button with-tip" data-tip-content="Video"></span>
                </div>
                <img src="images/listing-03.jpg" alt=""> </a>
                <div class="utf-listing-content">
                  <div class="utf-listing-title">
                    <span class="utf-listing-price">$22,000/mo</span>
                    <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
                    <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
                  </div>				
                  <ul class="utf-listing-features">
                    <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
                    <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
                    <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
                    <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>				  					 
                  </ul>				
                  <div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
                </div>              
              </div>
            </div>
            
            <div class="utf-carousel-item-area">
              <div class="utf-listing-item"> <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
                <div class="utf-listing-badges-item"> 
                  <span class="for-sale">For Sale</span> 
                </div>
                <div class="utf-listing-img-content-item"> 
                  <img class="utf-user-picture" src="images/user_1.jpg" alt="user_1" />
                  <span class="like-icon with-tip" data-tip-content="Bookmark"></span> 
                  <span class="compare-button with-tip" data-tip-content="Add to Compare"></span> 
                  <span class="video-button with-tip" data-tip-content="Video"></span>
                </div>
                <div class="utf-listing-carousel-item">
                  <div><img src="images/listing-04.jpg" alt=""></div>
                  <div><img src="images/listing-04.jpg" alt=""></div>
                </div>
                </a>
                <div class="utf-listing-content">
                  <div class="utf-listing-title">
                    <span class="utf-listing-price">$25,000/mo</span>
                    <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
                    <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
                  </div>
                  <ul class="utf-listing-features">
                    <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
                    <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
                    <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
                    <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>					  					 
                  </ul> 
                  <div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
                </div>              
              </div>
            </div>
            
            <div class="utf-carousel-item-area">
              <div class="utf-listing-item"> <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
                <div class="utf-listing-badges-item"> 
                  <span class="for-sale">For Sale</span> 
                </div>
                <div class="utf-listing-img-content-item"> 
                  <img class="utf-user-picture" src="images/user_1.jpg" alt="user_1" />
                  <span class="like-icon with-tip" data-tip-content="Bookmark"></span> 
                  <span class="compare-button with-tip" data-tip-content="Add to Compare"></span> 
                  <span class="video-button with-tip" data-tip-content="Video"></span>
                </div>
                <img src="images/listing-05.jpg" alt=""> </a>
                <div class="utf-listing-content">
                  <div class="utf-listing-title">
                    <span class="utf-listing-price">$14,000/mo</span>
                    <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
                    <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
                  </div>				
                  <ul class="utf-listing-features">
                    <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
                    <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
                    <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
                    <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>				  					 
                  </ul> 	
                  <div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
                </div>              
              </div>
            </div>          
          </div>
        </div>      
      </div>
    </div>
</section>
 







{% endblock %}

{% block javascript %}
    <script>
        var typed = new Typed('.typed-words', {
            strings: ["Dream Home."," Apartments."," Residential."," Commercial."],
            typeSpeed: 80,
            backSpeed: 80,
            backDelay: 4000,
            startDelay: 1000,
            loop: true,
            showCursor: true
        });
    </script>
{% endblock %}

