<!-- Banner -->
<div class="parallax" data-background="{{ asset('images/home-parallax-1.jpg') }}" data-color="#36383e" data-color-opacity="0.72"
  data-img-width="2500" data-img-height="1600">
  <div class="utf-parallax-content-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="utf-main-search-container-area">
            <div class="utf-banner-headline-text-part">
              <h2>Trouvez les meilleurs offres <span class="typed-words"></span></h2>
              <span>Petites annonces professionnel mais gros rabais pour les particuliers</span>
            </div>
            <form class="utf-main-search-form-item">
              <div class="utf-main-search-box-area">
                <div class="row with-forms">
                  <div class="col-md-4 col-sm-12">
                    <input type="text" class="ico-01" placeholder="Que recherchez vous" value="" />
                  </div>
                  <div class="col-md-3 col-sm-12">
                    <input type="text" class="ico-01" placeholder="Canton ou Code postal" value="" />
                  </div>

                  <div class="col-md-2 col-sm-6">
                    <button class="button utf-search-btn-item"><i class="fa fa-search"></i>{% trans %}Rechercher{%
                      endtrans %}</button>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <a class="button border border-r-btn">
                        <i class="icon-feather-plus-circle"></i>{% trans %}Autour de vous{%
                          endtrans %}
                    </a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>