<section class="fullwidth" data-background-color="#ffffff">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="utf-section-headline-item centered margin-bottom-30 margin-top-0">
                    <div class="utf-headline-display-inner-item">{% trans %}PETITES ANNONCES {% endtrans %}</div>
                    <p class="utf-slogan-text">{% trans %}Regardez nos dernière offres sur zimboo.ch {% endtrans %}</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="listings-list-with-sidebar.html" class="img-box">
                    <img src="images/popular-location-01.jpg" alt="" />
                </a>
            </div>
            <div class="col-md-6 col-sm-6">
                <a href="listings-list-with-sidebar.html" class="img-box">
                    <img src="images/popular-location-02.jpg" alt="" />
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="listings-list-with-sidebar.html" class="img-box">
                    <img src="images/popular-location-03.jpg" alt="" />
                </a>
            </div>
        </div>
    </div>
</section>