<!-- Counters Container -->
<section class="fullwidth margin-top-40 margin-bottom-40" data-background-color="#ffffff" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3 col-sm-6">
                    <div class="utf-icon-box-item-area">
                        <div class="icon-container"><i class="icon-line-awesome-building"></i></div>
                        <h3>Modern Villa</h3>
                        <p>Lorem Ipsum is simply dummy text the printing and type setting industry Lorem Ipsum has been industry.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="utf-icon-box-item-area">
                        <div class="icon-container"><i class="icon-line-awesome-institution"></i></div>
                        <h3>Family House</h3>
                        <p>Lorem Ipsum is simply dummy text the printing and type setting industry Lorem Ipsum has been industry.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="utf-icon-box-item-area">
                        <div class="icon-container"><i class="icon-material-outline-location-city"></i></div>
                        <h3>Town House</h3>
                        <p>Lorem Ipsum is simply dummy text the printing and type setting industry Lorem Ipsum has been industry.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="utf-icon-box-item-area">
                        <div class="icon-container"><i class="icon-material-outline-business"></i></div>
                        <h3>Apartment</h3>
                        <p>Lorem Ipsum is simply dummy text the printing and type setting industry Lorem Ipsum has been industry.</p>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Counters Container / End -->