
<section class="global-talent-area padding-bottom-100 margin-top-60">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="talent-img">
                    <img src="{{ asset('img/site/zimboo volant.png') }}" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="talent-content">
                    <span>Petites annonces gratuite</span>
                    <h2>Seulement 3 étapes</h2>
                    <h2>Inscription Acceptation Publication</h2>
                    <p class="margin-bottom-0">
                        Zimboo.ch est un site d’annonces et d’offres promotionnels destiné aux particuliers. Uniquement les professionnels peuvent mettre des annonces ou des publicités.
                        Comment ça marche ? <br>
                        1) faites votre inscription <br>
                        2) Attendez la validation du compte professionnel <br>
                        3) Vous pouvez mettre vos annonces gratuites ou avec une option de visibilité.
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="talent-single-item">
                                <h3>Option PREMIUM</h3>
                                <p>Visibilité maximum</p>
                                <p class="margin-bottom-0">Top Recherche</p>
                                <p class="margin-bottom-0">Top visibilité</p>
                                <p class="margin-bottom-0">Top Placement</p>
                                <p class="margin-bottom-0">Top Home</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="talent-single-item">
                                <h3>Annonce gratuite</h3>
                                <p>Inclus sans frais</p>
                                <p class="margin-bottom-0">Recherche</p>
                                <p class="margin-bottom-0">Lien sur votre site</p>
                                <p class="margin-bottom-0">Vidéo de présentation</p>
                                <p class="margin-bottom-0">Géolocalisation</p>
                            </div>
                        </div>
                    </div>
                    <a href="" class="default-btn btn-two">
                        Post a Job
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>