<section class="fullwidth" data-background-color="#ffffff">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="utf-section-headline-item centered margin-bottom-30 margin-top-0">
                    <div class="utf-headline-display-inner-item">{% trans %}Offre premium{% endtrans %}</div>
                    <p class="utf-slogan-text margin-bottom-40"></p>
                </div>
            </div>
        </div>
        {% do device.parse %}

        {% if device.isSmartphone %}
        <div class="col-md-12">

        {%  for groupeOfferts in groupedOfferts %}
            <div class="row">
                <div class="col-md-12 submit-page margin-top-25"><h3 class="">{{ groupeOfferts.category }}</h3></div>
                <div class="carousel">
                    {% for PreniumOffert in groupeOfferts.annonces %}
                    {% include 'site/home_page/_partials/mignature/annoucement.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

    </div>

{% else %}

<div class="col-md-12">
    <ul class="tabs-nav" style="justify-content: center;display: flex;">
        {% set activ = random(8) %}
        {%  for groupeOfferts in groupedOfferts %}
            <li {% if activ == loop.index %}class="active"{% endif %}><a style="white-space: nowrap;" href="#{{ loop.index }}">{{ groupeOfferts.category }}</a></li>
        {% endfor %}
    </ul>
    <div class="tabs-container">
        {%  for groupeOfferts in groupedOfferts %}
            <div class="tab-content" id="{{ loop.index }}">
                <div class="carousel">
                    {% for PreniumOffert in groupeOfferts.annonces %}
                        {% include 'site/home_page/_partials/mignature/annoucement.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
</div>

</section>