<!-- Widget -->
<div class="widget utf-sidebar-widget-item">
    <div class="utf-boxed-list-headline-item">
        <h3>Horaire d'ouverture</h3>
    </div>
    <ul>
        <li>Lundi de 10 à 15 et de 15 à 16</li>
        <li>Lundi de 10 à 15 et de 15 à 16</li>
        <li>Lundi de 10 à 15 et de 15 à 16</li>
        <li>Lundi de 10 à 15 et de 15 à 16</li>
        <li>Lundi de 10 à 15 et de 15 à 16</li>
        <li>Lundi de 10 à 15 et de 15 à 16</li>
        <li>Lundi de 10 à 15 et de 15 à 16</li>
    </ul>
    <div class="clearfix"></div>
</div>
<!-- Widget / End -->