<section class="fullwidth margin-bottom-0 padding-top-60 padding-bottom-65" data-background-color="linear-gradient(to bottom,rgba(0,0,0,0.03) 0%,rgba(255,255,255,0))">
    <!-- Logo Carousel -->
    <div class="container">
      <div class="row">
        
        <!-- Carousel -->
        <div class="col-md-12">
          <div class="utf-logo-carousel-item dot-navigation">
            <div class="item"><a href="#"><img src="images/brand_logo_01.png" alt=""></a></div>
            <div class="item"><a href="#"><img src="images/brand_logo_02.png" alt=""></a></div>
            <div class="item"><a href="#"><img src="images/brand_logo_03.png" alt=""></a></div>
            <div class="item"><a href="#"><img src="images/brand_logo_04.png" alt=""></a></div>
            <div class="item"><a href="#"><img src="images/brand_logo_05.png" alt=""></a></div>
            <div class="item"><a href="#"><img src="images/brand_logo_06.png" alt=""></a></div>
            <div class="item"><a href="#"><img src="images/brand_logo_07.png" alt=""></a></div>
          </div>
        </div>
        <!-- Carousel / End -->         
      </div>
    </div>
    <!-- Logo Carousel / End --> 
  </section>
  
  <!-- Footer -->
  <div id="footer"> 
    <div class="container">
      <div class="row">
	    <div class="col-md-4 col-sm-12 col-xs-12"> 
          <a href="index.html"><img class="footer-logo" src="images/footer_logo.png" alt=""></a>
          <p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when unknown printer took a galley type scrambled.</p>          
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <h4>Useful Links</h4>
          <ul class="utf-footer-links-item">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Properties</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <h4>My Account</h4>
          <ul class="utf-footer-links-item">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Add Property</a></li>
			<li><a href="#">My Listing</a></li>
            <li><a href="#">Favorites</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <h4>Resources</h4>
          <ul class="utf-footer-links-item">
            <li><a href="#">My Account</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">How It Work</a></li>
            <li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Term & Condition</a></li>
          </ul>
        </div>
		<div class="col-md-2 col-sm-3 col-xs-6">
          <h4>Pages</h4>
          <ul class="utf-footer-links-item">
            <li><a href="#">Our Partners</a></li>
            <li><a href="#">How It Work</a></li>
			<li><a href="#">FAQ Page</a></li>
            <li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Term & Condition</a></li>
          </ul>
        </div>	
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="copyrights">Copyright © 2021 All Rights Reserved.</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer / End --> 