<section class="subscribe-area margin-top-60 padding-top-40">
  <div class="container">
    <div class="subscribe-bg">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="subscribe-content">
            <h2>Connaître nos concours
              ou promotions</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <form class="newsletter-form" data-toggle="validator" novalidate="true">
            <input type="email" class="form-control" placeholder="Entrez votre Email" name="EMAIL" required="" autocomplete="off">
            <button class="default-btn button utf-search-btn-item" type="submit" style="pointer-events: all; cursor: pointer;">
              <span>Envoyer</span>
            </button>
            <div id="validator-newsletter" class="form-result"></div>
            <p>vos données ne seront pas partagées</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer-area padding-bottom-70 padding-top-60">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-footer-widget single-bg">
          <a href="index.html" class="logo">
            <img src="{{ asset('img/site/logo.png') }}" alt="Image">
          </a>
          <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consec tetur.</p>
          <ul class="social-icon">
            <li>
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-linkedin-square"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-footer-widget">
          <h3>Contact</h3>
          <ul class="address">
            <li>
              <i style="color: #e33324" class="fa fa-envelope"></i>
              <span>Service Publicité:</span>
              <a href="mailto:pub@zimboo.ch">pub@zimboo.ch</a>
            </li>
            <li>
              <i style="color: #e33324" class="fa fa-envelope"></i>
              <span>Aide annonceur:</span>
              <a href="mailto:annonce@zimboo.ch">annonce@zimboo.ch</a>
            </li>
            <li class="location">
              <i style="color: #e33324" class="fa fa-envelope"></i>
              <span>Conseils:</span>
              <a href="mailto:conseil@zimboo.ch">conseil@zimboo.ch</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-footer-widget">
          <h3>Top Catégorie</h3>
          <ul class="import-link">
            <li>
              <a href="#">Hôtel</a>
            </li>
            <li>
              <a href="#">Produit Bio</a>
            </li>
            <li>
              <a href="#">Santé & beauté</a>
            </li>
            <li>
              <a href="#">Petit Commerce</a>
            </li>
            <li>
              <a href="#">Restaurants</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-footer-widget">
          <h3>Job Seekers</h3>
          <ul class="import-link">
            <li>
              <a href="#">Create Account</a>
            </li>
            <li>
              <a href="#">Browse Jobs</a>
            </li>
            <li>
              <a href="#">Upload CV</a>
            </li>
            <li>
              <a href="#">Company Profile</a>
            </li>
            <li>
              <a href="#">International Jobs</a>
            </li>
            <li>
              <a href="#">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="copy-right-area">
  <div class="container">
    <p>
      © 2021 Jubi Is Proudly Created By
      <a href="https://envytheme.com/" target="_blank">EnvyTheme</a>
    </p>
  </div>
</div>